includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
    - .Build/vendor/bnf/phpstan-psr-container/extension.neon

parameters:
    level: 6
    tmpDir: .Build/.cache/phpstan
    paths:
        - Classes
        - Configuration
        - ext_localconf.php
        - ext_tables.php
