<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:sbt="http://typo3.org/ns/SourceBroker/Translatr/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<a href="#"
   class="btn btn-default t3js-record-delete"
   data-l10parent="{label.l10n_parent}"
   data-params="cmd[tx_translatr_domain_model_label][{label.uid}][delete]=1"
   data-title="{label.text}"
   data-button-close-text="Cancel"
   data-button-ok-text="Delete"
   data-message='Are you sure you want to delete "{label.text}" record?'
   title=""
   data-original-title="Delete record (!)"
>
    <core:icon identifier="actions-edit-delete" size="small" />
</a>

</html>
