#typo3-docbody.translatr-container {
    top: 0;
}

#typo3-docbody.translatr-container .control-label {
    width: auto;
    display: inline-block;
}

#field-sys_language_uid {
    height: 32px;
    min-height: 32px;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-color: #bbb;
    border-radius: 2px;
}

.select2-container--default .select2-selection--single {
    height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #a4a4a4;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 2px;
}