<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:sbt="http://typo3.org/ns/SourceBroker/Translatr/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="translatr-language-filter" href="{f:uri.resource(path: 'Styles/LanguageFilter.css', extensionName: 'Translatr')}"/>
<f:asset.script identifier="translatr-language-filter" src="{f:uri.resource(path: 'JavaScript/LanguageFilter.js', extensionName: 'Translatr')}" defer="true"/>

<f:form action="index" object="{demand}" class="js-translatr-form" name="demand" method="post">
    <input type="hidden" name="id" value="{id}">
    <f:if condition="{extensions->f:count()} === 0">
        <f:then>
            <div class="alert alert-warning">
                <span style="color: red">No proper configuration for Translatr extension.</span><br><br>
                Configure TSConfig like below example:
<pre>
tx_translatr {
     languages {
        de = German
        pl = Polish
    }
    extensions {
        10 = news
        20 = ke_search
    }
}
</pre>
            </div>
        </f:then>
        <f:else>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="field-extension" class="control-label">
                            Extension
                        </label>
                        <f:form.select property="extension" id="field-extension" options="{extensions}"
                                       class="form-select form-select-sm"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <fieldset class="form-group">
                        <legend class="translatr-language-legend" id="translatr-language-label">
                            <f:translate key="LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.languages"/>
                        </legend>
                        <details class="translatr-language-filter" data-language-filter>
                            <summary class="form-select form-select-sm" aria-labelledby="translatr-language-label translatr-language-selection">
                                <span id="translatr-language-selection" data-language-summary
                                      data-empty="{f:translate(key: 'LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.chooseLanguages')}">
                                    <f:translate key="LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.chooseLanguages"/>
                                </span>
                            </summary>
                            <div class="translatr-language-menu">
                                <div class="translatr-language-tools" data-language-tools hidden>
                                    <label class="visually-hidden" for="translatr-language-search">
                                        <f:translate key="LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.searchLanguages"/>
                                    </label>
                                    <input type="search" id="translatr-language-search" class="form-control form-control-sm"
                                           data-language-search autocomplete="off"
                                           placeholder="{f:translate(key: 'LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.searchLanguages')}"/>
                                    <button type="button" class="btn btn-default btn-sm" data-language-clear>
                                        <f:translate key="LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.clearLanguages"/>
                                    </button>
                                </div>
                                <div class="translatr-language-options">
                                    <f:for each="{languages}" as="languageLabel" key="languageCode" iteration="iterator">
                                        <label class="translatr-language-option" data-language-option>
                                            <f:form.checkbox property="languages" value="{languageCode}" multiple="1"
                                                             class="form-check-input" id="translatr-language-{iterator.index}"/>
                                            <span data-language-name>{languageLabel}</span>
                                        </label>
                                    </f:for>
                                    <p class="text-body-secondary small m-2" data-language-empty role="status" hidden>
                                        <f:translate key="LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.noLanguages"/>
                                    </p>
                                </div>
                            </div>
                        </details>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <f:form.button type="submit" name="operation" value="list" class="btn btn-default">
                                <f:translate key="LLL:EXT:translatr/Resources/Private/Language/locallang_label.xlf:filters.apply"/>
                            </f:form.button>
                        </div>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</f:form>
