<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:sbt="http://typo3.org/ns/SourceBroker/Translatr/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />

    <f:render partial="Label/DemandForm" arguments="{_all}" />

    <f:if condition="{labels}">
        <table class="table table-hover">
            <thead>
            <tr class="t3-row-header">
                <th>Key</th>
                <th>Label (Default)</th>
                <f:for each="{demand.languages}" as="language">
                    <th>Label ({language.title})</th>
                </f:for>
            </tr>
            </thead>
            <tbody>
            <f:for each="{labels}" as="label">
                <tr data-uid="{label.uid}" data-l10nparent="{label.l10n_parent}">
                    <td>
                        {label.ukey}
                        <f:if condition="{label.description}">
                            <span class="t3-help-teaser" title="{label.description}">
                                <core:icon identifier="status-dialog-information" size="small" />
                            </span>
                        </f:if>
                    </td>
                    <td>
                        <f:render partial="Label/ActionButtons" arguments="{label: label}" />

                        {label.text}
                    </td>
                    <f:for each="{demand.languages}" as="language">
                        <td>
                            <f:for each="{label.language_childs}" as="childLabel">
                                <f:if condition="{childLabel.sys_language_uid} == {language.uid}">
                                    <f:render partial="Label/ActionButtons" arguments="{label: childLabel, parentLabel: label}" />

                                    {childLabel.text}
                                </f:if>
                            </f:for>
                        </td>
                    </f:for>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:if>
</f:section>

</html>