<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:sbt="http://typo3.org/ns/SourceBroker/Translatr/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:layout name="Default"/>

<f:section name="content">

    <f:flashMessages/>

    <f:render partial="Label/DemandForm" arguments="{_all}"/>
    <f:if condition="{labels}">
        <table class="table table-hover">
            <thead>
            <tr class="t3-row-header">
                <th>Key</th>
                <th>Label (default)</th>
                <f:for each="{demand.languages}" as="language">
                    <th>Label ({language})</th>
                </f:for>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{labels}" as="label">
                <tr data-uid="{label.uid}" data-l10nparent="{label.l10n_parent}">
                    <td>
                        {label.ukey}
                        <f:if condition="{label.description}">
                            <span class="t3-help-teaser" title="{label.description}">
                                <core:icon identifier="status-dialog-information" size="small"/>
                            </span>
                        </f:if>
                    </td>
                    <td>
                        <f:if condition="{demand.languages -> f:count()} == 0">
                            <f:render partial="Label/ActionButtons" arguments="{label: label}"/>
                        </f:if>
                        {label.text}
                    </td>
                    <f:for each="{demand.languages}" as="language">
                        <td>
                            {label.language_childs -> v:iterator.filter(propertyName: 'language', filter: language) ->
                            v:iterator.first() -> v:variable.set(name: 'childLabel')}

                            <f:if condition="{childLabel}">
                                <f:then>
                                    <f:render partial="Label/ActionButtons"
                                              arguments="{label: childLabel, parentLabel: label}"/>

                                    {childLabel.text}
                                </f:then>
                                <f:else>
                                    {sbt:be.translate(llFile: label.ll_file, language: language, key: label.ukey) ->
                                    v:variable.set(name: 'labelText')}

                                    <f:render partial="Label/ActionButtons/New" arguments="{
                                        language: language,
                                        tcadefault: {
                                            language: {
                                                0: language
                                            },
                                            ll_file: label.ll_file,
                                            ll_file_index: label.ll_file_index,
                                            extension: {
                                                0: label.extension
                                            },
                                            ukey: label.ukey,
                                            text: labelText,
                                            tags: label.tags
                                        }
                                    }"/>

                                    {labelText}
                                </f:else>
                            </f:if>
                        </td>
                    </f:for>
                    <td>{label.tags}</td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </f:if>
</f:section>

</html>
